/* * {
  outline: 1px solid red;
} */
/* <!-- -------------general------------- --> */
*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

p
{
    font-size: clamp(1rem, 2vw, 1.125rem);
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: black;
    color: white;
}

.container
{
    height: 100%;
    padding: 20px clamp(5%, 8vw, 10%);
    max-width: 1920px;
    margin: 0 auto;
}

.section-title
{
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 550;
    margin-bottom: 3px;
}

/* <!-- -------------hamburger menu------------- --> */
.menu-icon
{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 101;
    position: fixed;
    transition: 0.5s;
}

.menu-x
{
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 101;
    transition: 0.5s;
}

.menu-icon:hover,
.menu-x:hover
{
    color: #85FF25;
}

.side-menu
{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: black;
    padding: 20px 20px;
    box-shadow: -2px 0 8px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 100;
}

.side-menu.active
{
    right: 0;
}

.nav-links
{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.social-media-links
{
    margin-top: 50px;
    text-align: center;
}

.social-media-links i
{
    color: white;
    cursor: pointer;
    font-size: clamp(1.5rem, 1rem + 1vw, 1.75rem);
    margin: 12px;
    transition: 0.5s;
}

.social-media-links i:hover
{
    color: #85FF25;
}

@media (max-width: 800px)
{
    .menu-icon
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navigation-menu
    {
        display: none;
    }
}

/* <!-- -------------navigation menu------------- --> */
nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: clamp(5px, 2vw, 10px) clamp(10px, 3vw, 20px);
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after
{
    content: "";
    width: 0;
    height: 3px;
    background: #85FF25;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after
{
    width: 100%;
}

/* <!-- -------------home------------- --> */
#home
{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 800px)
{
  #home {
    height: 70vh;
    background-position: 55% 50%;
  }
}

.home-text 
{
    margin-top: clamp(10%, 15vh, 30%);
}

.home-text h1
{
    font-size: clamp(1.5rem, 5vw, 4.125rem);
}

.home-text h1 span
{
    color: #85FF25;
}

.home-text #catchphrase
{
    margin-bottom: 40px;
    font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
    color: lightgray;
}

.home-text .home-button
{
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    cursor: pointer;
    padding: clamp(0.5rem, 1.5vh, 1rem) clamp(1rem, 5vw, 4rem);
    background-color: rgb(102, 190, 36);
    color: #ffffff;
    border-radius: 30px;
    border: 0;
    transition: 0.5s;
}

.home-button:hover
{
    color: rgb(102, 190, 36);
    background-color: #ffffff;
}

/* <!-- -------------about------------- --> */
.row
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(30px, 5vw, 40px);
    overflow: hidden;
}

.about-col-1
{
    flex-basis: 32%;
}

.about-col-1 img
{
    width: 100%;
    min-width: 260px;
    max-width: 480px;
    border-radius: 10px;
}

@media (max-width: 1100px)
{
  .about-col-1
    {
        flex-basis: 70%;
    }
}

.about-col-2
{
    background-color: #1a1a1a;
    padding: 16px 24px;
    border-radius: 10px;
    flex-basis: 60%;
}

@media (max-width: 1100px)
{
  .about-col-2
    {
        flex-basis: 100%;
    }
}

.tab-titles
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: clamp(1rem, 2vw, 2rem);
    margin: 20px 0 30px;
}

@media (max-width: 1100px)
{
  .tab-titles
    {
        gap: 3rem;
        justify-content: center;
    }
}

@media (max-width: 510px)
{
  .tab-titles
    {
        gap: 1.5rem;
    }
}

.tab-links
{
    font-size: 1.25rem;
    font-weight: 650;
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(102, 190, 36);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after,
.tab-links.active-link::after
{
    width: 100%;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    margin-top: 10px;
    color: rgb(102, 190, 36); 
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 550;
}

.tab-contents
{
    animation: fade-out 0.2s ease forwards;
}

.tab-contents.active-tab
{
    display: block;
}

.show
{
    animation: fade-in 0.4s ease forwards;
}

@keyframes fade-in
{
    0%
    {
        display: none;
    }

    50%
    {
        display: none;
        opacity: 0;
        transform: translateX(-10px);
    }

    100%
    {
        opacity: 1;
        display: block;
        transform: translateX(0);
    }    
}

@keyframes fade-out
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
        display: none;
    }    
}

/* <!-- -------------technologies------------- --> */

.technologies-grid-container
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.tech-card
{
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: background 0.3s ease;
}

.tech-card:hover
{
    background-color: #222;
}

.tech-card h4
{
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
}

.tech-card span
{
    font-size: 0.9rem;
    color: #aaa;
}

.icon-wrapper
{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.tech-card img
{
    width: 32px;
    height: 32px;
}

.wordpress-bg   { background-color: rgba(33, 117, 155, 0.3); }
.html-bg        { background-color: rgba(228, 77, 38, 0.3); }
.css-bg         { background-color: rgba(38, 77, 228, 0.3); }
.js-bg          { background-color: rgba(247, 223, 30, 0.3); }
.rwd-bg         { background-color: rgba(94, 94, 94, 0.3); }
.figma-bg       { background-color: rgba(26, 188, 254, 0.3); }
.photoshop-bg   { background-color: rgba(49, 168, 255, 0.3); }
.git-bg         { background-color: rgba(240, 80, 50, 0.3); }
.github-bg      { background-color: rgba(51, 51, 51, 0.3); }
.python-bg      { background-color: rgba(48, 105, 152, 0.3); }
.mysql-bg       { background-color: rgba(0, 117, 143, 0.3); }
.jira-bg        { background-color: rgba(0, 82, 204, 0.3); }

/* <!-- -------------table------------- --> */
#data 
{
    padding: 10px 0px;
}

.data-table
{
    color: lightgray;
    overflow-x: auto;
}

table 
{
    border: 3px solid lightgray;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td 
{
    border: 1px solid lightgray;
    padding: 11px;
}

th 
{
    text-align: center;
}

td
{
    font-size: clamp(0.9rem, 1.5vw, 1rem);
}

/* <!-- -------------format info------------- --> */
.format-information
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
    grid-gap: clamp(30px, 5vw, 40px);
    margin-top: 50px;
}

.format-information div
{
    border-radius: 10px;
    background: #1a1a1a;
    padding: 30px;
    transition: 0.5s;
}

.format-information div p
{
    color: #aaa;
    transition: 0.5s;
}

.format-information div h2
{
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 15px;
}

.format-information div:hover
{
    background: rgb(75, 145, 25);
    transform: translateY(-10px);
    cursor: pointer;
}

.format-information div:hover p
{
    color: white;
}

/* <!-- -------------internet------------- --> */
#internet
{
    padding-top: 40px;
    margin-top: 80px;
    width: 100%;
    background: #1a1a1a;
}

#internet .container .row h2
{
    margin-bottom: clamp(1rem, 1rem + 1vw, 1.25rem);
    letter-spacing: 1px;
}

#internet .container .row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(30px, 5vw, 40px);
    text-align: center;
}

.internet-column
{
    flex: 1 1 clamp(250px, 30%, 400px);
    max-width: 100%;
}

/* <!-- -------footer-col-1------- --> */
.internet-col-1 ul li
{
    list-style: none;
    padding: 5px;
}

.internet-col-1 ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.internet-col-1 ul li a:hover
{
    color: #85FF25;
}

/* <!-- -------footer-col-2------- --> */
.internet-col-2 .search-text
{
    font-size: 18px;
    font-weight: 550;
}

.internet-col-2 .search-block
{
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    border-color: white;
    border-radius: 5px;
    width: clamp(13rem, 12rem + 5vw, 18rem);
    height: 40px;
    
}

.internet-col-2 .search-button
{
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border-color: white;
    transition: 0.5s;
}

.internet-col-2 .search-button:hover
{
    color: #85FF25;
    border-color: #85FF25;
}

/* <!-- -------footer-col-3------- --> */
.social-media
{
    margin-top: 20px;
}

.social-media i
{
    color: white;
    cursor: pointer;
    font-size: clamp(1.5rem, 2vw, 1.625rem);
    margin: 10px;
    transition: 0.5s;
}

.social-media i:hover
{
    color: #85FF25;
}

/* <!-- -------copyright------- --> */
.copyright p
{
    font-size: 1rem;
    color: lightgray;
    padding-top: 40px;
    text-align: center;
}