/* * {
  outline: 1px solid red;
} */
/* <!-- -------------general------------- --> */
:root
{
    /* <!-- ---general--- --> */
    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

    /* <!-- ---dark-mode--- --> */
    --primary: hsl(95, 100%, 55%);
    --primary-dark: hsl(95, 69%, 42%);
    --primary-very-dark: hsl(95, 69%, 37%);
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --border: hsl(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0 0% 60%);
    --border-card: solid 1px var(--border);
}

/* <!-- ---light-mode--- --> */
body.light
{
    --primary: hsl(210, 100%, 60%);
    --primary-dark: hsl(210, 100%, 50%);
    --primary-very-dark: hsl(210, 100%, 45%);
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
    --border: hsl(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0 0% 100%);
    --border-card: solid 1px var(--bg)
}


body.light #home
{
    background-image: url(images/background-light2.jpg);
}

/* <!-- ---switch--- --> */
.dark-mode-icon
{
    display: none;
}

body.light .dark-mode-icon
{
    display: block;
}

body.light .light-mode-icon
{
    display: none;
}

.mode-button
{
    height: 40px;
    width: 40px;
    background-color: var(--text);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-mode-button
{
    height: 40px;
    width: 40px;
    background-color: var(--text);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    transition: background-image 0.4s ease;
}

p
{
    font-size: clamp(1rem, 2vw, 1.125rem);
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: var(--bg-dark);
    color: var(--text);
}

.container
{
    height: 100%;
    padding: 20px clamp(5%, 8vw, 10%);
    max-width: 1920px;
    margin: 0 auto;
}

.section-title
{
    font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
    font-weight: 550;
    margin-bottom: 3px;
}

/* <!-- -------------hamburger menu------------- --> */
.menu-icon
{
    display: none;
    font-size: 1.875rem;
    cursor: pointer;
    color: var(--text);
    z-index: 101;
    position: fixed;
    transition: 0.4s;
}

.menu-x
{
    font-size: 1.875rem;
    cursor: pointer;
    color: var(--text);
    z-index: 101;
    transition: 0.4s;
}

.menu-icon:hover,
.menu-x:hover
{
    color: var(--primary);
}

.side-menu
{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--bg-dark);
    padding: 20px 20px;
    box-shadow: -2px 0 8px rgba(0,0,0,0.5);
    transition: right 0.4s ease;
    z-index: 100;
}

.side-menu.active
{
    right: 0;
}

.nav-links
{
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.social-media-links
{
    margin-top: 50px;
    text-align: center;
}

.social-media-links p
{
    font-size: 1.125rem;
    margin: 8px;
}

.social-media-links i
{
    color: var(--text);
    cursor: pointer;
    font-size: clamp(1.5rem, 1rem + 1vw, 1.75rem);
    margin: 12px;
    transition: 0.4s;
}

.social-media-links i:hover
{
    color: var(--primary);
}

@media (max-width: 800px)
{
    .menu-icon
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navigation-menu
    {
        display: none;
    }
}

/* <!-- -------------navigation menu------------- --> */
nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: clamp(5px, 2vw, 10px) clamp(10px, 3vw, 20px);
}

nav ul li.mode-button-li
{
    display: inline-block;
    list-style: none;
    margin: 0;
}

nav ul li a
{
    color: var(--text);
    text-decoration: none;
    font-size: 1.25rem;
    position: relative;
}

nav ul li a::after
{
    content: "";
    width: 0;
    height: 3px;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after
{
    width: 100%;
}

/* <!-- -------------home------------- --> */
#home
{
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 800px)
{
  #home {
    height: 70vh;
    background-position: 55% 50%;
  }
}

.home-text 
{
    margin-top: clamp(10%, 15vh, 30%);
}

.home-text h1
{
    font-size: clamp(1.5rem, 5vw, 4.125rem);
}

.home-text h1 span
{
    color: var(--primary);
}

.home-text #catchphrase
{
    margin-bottom: 40px;
    font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
    color: var(--text-muted);
}

#toggle-repos-btn,
.home-text .home-button
{
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    cursor: pointer;
    padding: clamp(0.5rem, 1.5vh, 1rem) clamp(1rem, 5vw, 4rem);
    background-color: var(--primary-dark);
    color: var(--text);
    border-radius: 30px;
    border: 0;
    transition: 0.4s;
}

#toggle-repos-btn:hover,
.home-button:hover
{
    color: var(--primary-dark);
    background-color: var(--text);
}

/* <!-- -------------about------------- --> */
.row
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(30px, 5vw, 40px);
    overflow: hidden;
}

.about-col-1
{
    flex-basis: 32%;
}

.about-col-1 img
{
    width: 100%;
    min-width: 260px;
    max-width: 480px;
    border-radius: 10px;
    margin: 6px;
    box-shadow: var(--shadow);
}

@media (max-width: 1100px)
{
  .about-col-1
    {
        flex-basis: 70%;
    }
}

.about-col-2
{
    background: var(--gradient);
    padding: 16px 24px;
    border-radius: 10px;
    flex-basis: 60%;
    margin: 6px;
    box-shadow: var(--shadow);
}

@media (max-width: 1100px)
{
  .about-col-2
    {
        flex-basis: 100%;
    }
}

.tab-titles
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: clamp(1rem, 2vw, 2rem);
    margin: 20px 0 30px;
}

@media (max-width: 1100px)
{
  .tab-titles
    {
        gap: 3rem;
        justify-content: center;
    }
}

@media (max-width: 510px)
{
  .tab-titles
    {
        gap: 1.5rem;
    }
}

.tab-links
{
    font-size: 1.25rem;
    font-weight: 650;
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: "";
    width: 0;
    height: 3px;
    background: var(--primary-dark);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

.tab-links:hover::after,
.tab-links.active-link::after
{
    width: 100%;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span.name
{
    color: var(--primary-dark); 
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 550;
}

.tab-contents ul li span.date
{
    color: var(--text-muted); 
}

.tab-contents div.work-information
{
    margin-top: 4px;
}

ul li .wrok-technology
{
    margin: 0;
}

ul li.work-entry
{
    margin-bottom: 24px;
}

.tab-contents
{
    display: none;
}

.tab-contents.active-tab
{
    display: block;
}

.show
{
    animation: fade-in 0.6s ease forwards;
}

.download-button
{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    cursor: pointer;
    padding: clamp(0.5rem, 1.5vh, 0.75rem) clamp(1rem, 3vw, 2rem);
    background-color: var(--primary-dark);
    color: var(--text);
    border-radius: 30px;
    border: 0;
    transition: 0.4s;
}

.download-button:hover
{
    color: var(--primary-dark);
    background-color: var(--text);
}

@keyframes fade-in
{
    0%
    {
        transform: translateX(-10px);
        visibility: hidden;
        opacity: 0;
    }

    10%
    {
        visibility: visible;
    }

    100%
    {
        opacity: 1;
        transform: translateX(0);
    }    
}

/* <!-- -------------technologies------------- --> */

.technologies-grid-container
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.tech-card
{
    background: var(--gradient);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: var(--shadow);
    transition: 0.4s;
}

.tech-card:hover
{
    transform: translateY(-5px);
    background: var(--gradient-hover);
}

.tech-card h4
{
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
}

.tech-card span
{
    font-size: 0.9rem;
    color: var(--text-muted);
}

.icon-wrapper
{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.tech-card img
{
    width: 32px;
    height: 32px;
}

.wordpress-bg   { background-color: rgba(33, 117, 155, 0.3); }
.html-bg        { background-color: rgba(228, 77, 38, 0.3); }
.css-bg         { background-color: rgba(38, 77, 228, 0.3); }
.js-bg          { background-color: rgba(247, 223, 30, 0.3); }
.rwd-bg         { background-color: rgba(94, 94, 94, 0.3); }
.figma-bg       { background-color: rgba(26, 188, 254, 0.3); }
.photoshop-bg   { background-color: rgba(49, 168, 255, 0.3); }
.git-bg         { background-color: rgba(240, 80, 50, 0.3); }
.github-bg      { background-color: rgba(51, 51, 51, 0.3); }
.python-bg      { background-color: rgba(48, 105, 152, 0.3); }
.mysql-bg       { background-color: rgba(0, 117, 143, 0.3); }
.jira-bg        { background-color: rgba(0, 82, 204, 0.3); }


body.light .wordpress-bg   { background-color: rgba(33, 117, 155, 0.5); } 
body.light .html-bg        { background-color: rgba(228, 77, 38, 0.5); }
body.light .css-bg         { background-color: rgba(38, 77, 228, 0.5); }
body.light .js-bg          { background-color: rgba(247, 223, 30, 0.5); }
body.light .rwd-bg         { background-color: rgba(94, 94, 94, 0.5); }
body.light .figma-bg       { background-color: rgba(26, 188, 254, 0.5); }
body.light .photoshop-bg   { background-color: rgba(49, 168, 255, 0.5); }
body.light .git-bg         { background-color: rgba(240, 80, 50, 0.5); }
body.light .github-bg      { background-color: rgba(51, 51, 51, 0.5); }
body.light .python-bg      { background-color: rgba(48, 105, 152, 0.5); }
body.light .mysql-bg       { background-color: rgba(0, 117, 143, 0.5); }
body.light .jira-bg        { background-color: rgba(0, 82, 204, 0.5); }

/* <!-- -------------projects info------------- --> */
#projects
{
    padding: 10px 0;
}

#github-repos,
.project-information
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
    grid-gap: clamp(30px, 5vw, 40px);
    padding-top: 30px;
    padding-bottom: 10px;
}

.main-repo-card,
.project-information .main-div
{
    border-radius: 10px;
    background: var(--gradient);
    padding: 30px;
    box-shadow: var(--shadow);
    transition: 0.4s;
}

.main-repo-card h4
{
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 15px;   
}

.project-information .main-div h2
{
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 15px;
}

.main-repo-card p,
.project-information .main-div p
{
    color: var(--text-muted);
    transition: 0.4s;
}

.main-repo-card:hover p,
.project-information .main-div:hover p
{
    color: var(--text);
}

.main-repo-card:hover,
.project-information .main-div:hover
{
    background: var(--primary-dark);
    transform: translateY(-10px);
    cursor: pointer;
}

.main-repo-card .project-technologies,
.project-information .main-div .project-technologies
{
    margin-top: 10px;
}

.project-technologies ul
{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-technologies li
{
    background: var(--bg-light);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
}

#github-repos .main-repo-card:hover .project-technologies li,
.project-information .main-div:hover li
{
    background: var(--primary-very-dark);
}

.repo-button-container
{
    text-align: center;
    margin: 12px 0;
}

/* animations for repo cards */
.github-repos-preview {
  max-height: 900px; /* +- wysokość na 4 repo */
  overflow: hidden;
  transition: max-height 0.8s ease,
}

.github-repos-expanded {
  max-height: 5400px;
  overflow: hidden;
  transition: max-height 1s ease,
}

.main-repo-card {
  opacity: 0.1;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* <!-- -------------contact------------- --> */
#contact
{
    margin-top: 20px;
    padding-top: 40px;
    width: 100%;
    background: var(--bg-light);
}

#contact .container .row h2
{
    margin-bottom: clamp(0.75rem, 0.5rem + 1vw, 1.25rem);
    letter-spacing: 1px;
}

#contact .container .row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(32px, 5vw, 40px);
    text-align: center;
}

.internet-column
{
    flex: 1 1 clamp(250px, 30%, 400px);
    max-width: 100%;
}

/* <!-- -------footer-col-1------- --> */
.internet-col-1 ul li
{
    list-style: none;
    padding: 5px;
}

.internet-col-1 ul li a
{
    color: var(--text);
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.4s;
}

.internet-col-1 ul li a:hover
{
    color: var(--primary);
}

/* <!-- -------footer-col-2------- --> */
.internet-col-2 .search-text
{
    font-size: 1.125rem;
    font-weight: 550;
}

.internet-col-2 .search-block
{
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    border-color: var(--border-card);
    border-radius: 5px;
    width: clamp(13rem, 12rem + 5vw, 18rem);
    height: 40px;
}

.internet-col-2 .search-button
{
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--text);
    border-radius: 10px;
    border-color: var(--border-card);
    transition: 0.4s;
}

.internet-col-2 .search-button:hover
{
    color: var(--primary);
    border-color: var(--primary);
}

/* <!-- -------footer-col-3------- --> */
.social-media
{
    margin-top: 20px;
}

.social-media i
{
    color: var(--text);
    cursor: pointer;
    font-size: clamp(1.5rem, 2vw, 1.625rem);
    margin: 10px;
    transition: 0.4s;
}

.social-media i:hover
{
    transform: translateY(-5px);
    color: var(--primary);
}

/* <!-- -------copyright------- --> */
.copyright p
{
    font-size: 1rem;
    color: var(--text-muted);
    padding-top: 40px;
    text-align: center;
}